@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "I Love ASP.NET";
}

    <div class="container">
        <h1>Mason Perry</h1>
        <br />
        <img id="meRunning" src="img/egypt_running.jpg" width="370" height="527" />
        <br /><br />
        <p>I like running.... a lot!</p>
        <br />
        <h2>What I hope to get out of IS 413...</h2>
        <br />
        <p>
            Honestly, I am hoping that my confidence with strongly-typed languages will increase.
            I took a Java class in 9th grade and that really soiled any hopes of me wanting to
            program for my career. Luckily, IS 201 changed my mind and here I am! I'm also
            hoping that this new framework will only help to build upon my web development and
            programming skills.
        </p>
        <br />
        <h2>Top 3 Desired Jobs Post School</h2>
        <ul>
            <li>1. BI Analyst for a Food Company</li>
            <li>2. Front-End Developer</li>
            <li>3. Data Analyst at Nike/Hoka/Brooks</li>
        </ul>
    </div>
    