/*Style sheet for project 1/8/22*/

body {
    background-color: lightgray;
    margin: 10px;
    flex: auto;
    align-content: center;
}

img {
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
